install
text
lang en_US.UTF-8
keyboard us
reboot --eject
firstboot --enable
auth --enableshadow --passalgo=sha512

# Network information
network  --bootproto=dhcp --device=enp0s3 --onboot=on --ipv6=auto --activate
network  --bootproto=static --device=enp0s8 --ip=10.10.10.12 --netmask=255.255.255.0 --ipv6=auto --activate
network --device=lo  --hostname=localhost.localdomain

rootpw --lock
timezone America/New_York --isUtc
user --groups=wheel --name=wrsroot --password=$6$c3gaCcJlh.rp//Yx$/mIjNNoUDS1qZldBL29YSJdsA9ttPA/nXN1CPsIcCmionXC22APT3IoRSd9j5dPiZoviDdQf7YxLsOYdieOQr/ --iscrypted --gecos="wrsroot"

# System bootloader configuration
#bootloader --location=mbr --boot-drive=sda

autopart --type=lvm
# Partition clearing information
clearpart --all --initlabel --drives=sda

cdrom
#repo --name=base --baseurl=http://mirror.cogentco.com/pub/linux/centos/7/os/x86_64/
#url --url="http://mirror.cogentco.com/pub/linux/centos/7/os/x86_64/"

%packages --nobase --ignoremissing
@^minimal
@core
kexec-tools
net-tools
# CGTS packages
# end CGTS packages
%end
